@import 'fonts';
@import 'variables';
@import 'libs/normalize';

@import 'components/all';


*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,


.header {
  //display: flex;
  justify-content: center; 
  color:  #1D212F;
  font-size: 34px;
  font-weight: 600;
  padding: 10px 0px 10px 0px; 
  letter-spacing: 0.169px;
  align-items: center;
  
  
}

.content {
  background-color: #1D212F;
  
  
  &__pagination {
    display: flex;
    justify-content: center;
    margin: 10px 40px 40px 0px; 
    color: #FFF;
   
  }

  &__items {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
   
  }

 
  
 
}
.coursepage{
  background-color: #1D212F;
  
  &__title {
    color: #FFF;
    text-align: center;
    font-size: 30px;
    letter-spacing: 1%;
    padding: 10px 0px 10px 0px;
  }
  &__body {
    display: flex;
    justify-content: center; 
    align-items: stretch; 
    //height: 350px;
   margin: 30px 0px 0px 0px;
  }
  &__video {
    flex: 0 0 57%;
    position: relative;
    padding: 0px 0px 42.25% 0px;
  }
  &__items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px 10px 10px 10px;
    color: #F58634;
    text-align: left;
   // justify-content: space-between;
   
    
  }
  li {
    color: #737373;
    font-weight: 500;
    line-height: calc(24/14*100%);
    text-align: left;
    margin: 0px 0px 20px 0px;
    text-decoration :underline;
    
  }
  a:active {
    color: #FFF;
    
  }
}
.container {
 // width: $container-width;
  margin: 0 0;

}


 
